*,*::before,*::after{
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    letter-spacing: 0.15rem;
}
body{
    background: #999;
    color: #fff;
}
.container-wrapper{
    /* border: 2px solid blueviolet; */
    margin-top: 2rem;
}
.container{
    max-width: 1200px;
    width: 90vh;
    border: 2px solid #222;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin: 0 auto;
}
.box{
    background: #555;
}
h2{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding: 0.6rem;
}
.board{
    border-top: 2px solid #222;
    height: 50rem;
    background-color: bisque;
}
.food, .snake{
    border: 1px solid whitesmoke;
    /* border-style: none; */
    background: #fff;
    /* border-radius: 0.8rem; */
    display: inline-block;
    color: black;
}
.food{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.snake{
    height: 2.5rem;
    width: 1.3rem;
    margin: 45% 0 0 45%;
}