*,*::before,*::after{
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    letter-spacing: 0.15rem;
}
body{
    background: #999;
    color: #fff;
}
.container-wrapper{
    /* border: 2px solid blueviolet; */
    margin-top: 2rem;
}
.container{
    max-width: 1200px;
    width: 90vh;
    border: 2px solid #222;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin: 0 auto;
}
.box{
    background: #555;
}
h2{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding: 0.6rem;
}
.board{
    border-top: 2px solid #222;
    height: 50rem;
    background: #757575;
}
.food, .snake{
    color: black;
    text-align: center;
    display: absolute;
}
.food{
    height: 1.5rem;
    width: 1.5rem;
    background: #ee3946;
    border-radius: 50%;
}
.snake{
    height: 2.5rem;
    width: 1.3rem;
    background: #34a;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}